.bgbody{
 background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url(./image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
textarea:disabled{
    background: #fff;
    cursor: default;
}
.form-control{
    height: 150%;
    border: none;

}
img
{
     width:70%;
     height: 450px;
}
.pull-class{
    text-decoration: none;
     background-color: transparent;
     border: none;
}

.glyphicon-pencil{
        text-decoration: none;
     background-color: transparent;
     border: none;

}
.col-md-12{
    text-align: justify;
    font-family: 'Varela Round'; 
    font-size: 25px;
}
.fav{
    text-align: center;
    font-family: 'Varela Round';
    font-size: 25px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}