body{
     background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),  url(./img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff; 
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: white;
    height: 60px;
    transition: background-color .5s ease 0s;
}
.navbar-brand{
    padding: 0px;
}

.navbar-toggle{
    background-color: #71796F;
}
 .navbar-inverse .navbar-nav>li>a {
     color: white;
     }

      .navbar-inverse .navbar-nav>li {
     color: white;
     font-family: 'Varela Round'; 
     
     }
.pad{
    padding-top: 15px;
     color: white;
     font-family: 'Varela Round'; 
     font-size: 25px;
}

     .navbar-inverse .navbar-nav>li>a:hover{
        font-size: 35px;
        background-color: grey ;   
         }



@media (max-width: 800px) {
  
  .opaque-navbar {
    background-color: #EDBC43;
    opacity: 0.9;
    height: 60px;
    transition: background-color .5s ease 0s;
}
}
@media (max-width: 744px){
.navbar-inverse .navbar-nav>li>a {
     background-color: #9d9d9d;
     color: white;
     }
.navbar-inverse .navbar-nav>li {
     background-color: #9d9d9d;
     color: white;
     }
.navbar-collapse{
    background-color: #9d9d9d;
}
 }